<!DOCTYPE html>
<html>
<head>
    <title>Appointment Confirmation</title>
</head>
<body>
    <h1>Appointment Booked Successfully</h1>

    <h2>Appointment Details:</h2>
    <p><strong>User:</strong> {{ user.username }}</p>
    <p><strong>Doctor:</strong> {{ doctor.doctorname }}</p>
    <p><strong>Symptoms:</strong> {{ symptoms }}</p>
    <p><strong>Appointment Date:</strong> {{ appointment_date }}</p>
    <p><strong>Doctor's Name:</strong> {{ doctor_name }}</p>

    <a href="myappointment">View My Appointments</a>
</body>

</html>
